.fixed-buttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.whatsapp-button, .quote-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.whatsapp-button {
  background-color: #25D366; /* WhatsApp green */
}

.quote-button {
  background-color: #FF6F61; /* Matching your theme's pink */
}

.whatsapp-button img {
  margin-right: 10px;
  width: 40px;
  height: 35px;
}



.whats{
  color: white;
}

@media (max-width:500px) {
  .fixed-buttons{
    display: flex;
    flex-direction: column;
  }
  .whatsapp-button, .quote-button {
    
    width: 200px;
    height: 20px;
    font-size: 20px;
  }
  
}